/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
  margin:0;
  padding:0;
  text-decoration: none;
}

.sidebarcontainer{
  display:flex;
  float: left;
}
.sidebar{
  background: #000;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.openSidebarWidth{
  width: 300px;
}
.closeSidebarWidth{
width: 50px;
}

.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.openSidebarLogo{
  display: block;
}
.closeSidebarLogo{
  display:none;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.openSidebarbars{
  margin-left:150px;
}
.closeSidebarbars{
  margin-left:0px;

}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.openSidebarlink_text{
display: block;
}
.closeSidebarlink_text{
display: none;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}

main {
  flex: 1; /* This makes the MainContent take up the remaining space */
  padding: 20px; /* Add some padding for better appearance */
}
.main-content {
  flex: 1;
  padding: 10px;
  /* Add any additional styling for MainContent here */
}